<h1 align="center">Welcom to <%=@user.username%>'s page</h1>
<div class='row' >
    <div class="center col-md-4 col-md-offser-4" >
        <%= gravatar_for @user, size: 150 %>
    </div>
</div>

<h4 align="center"><%=@user.username%>'s articles</h4>
<div>
    <%= will_paginate @user_articles  %>
</div class="center">
<%= render 'articles/article', obj: @user.articles %>
<div class="center  ">
    <%= will_paginate @user_articles  %>
</div>